@import '../../design/variables';

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  .highlight {
    color: $red;
  }
  section {
    width: 100%;
    max-width: 1200px;
    .section-title {
      margin: 100px 0 50px 0;
      text-align: center;
      color: $red;
    }
    ol,
    ul {
      line-height: 3em;
      list-style-type: none;
      .list-icon {
        margin-right: 10px;
      }
    }
  }
  .welcome {
    display: flex;

    .welcome-left {
      width: 50%;
      .slogan {
        font-size: 6vw;
        font-weight: 200;
        margin: 1em 0 0 0;
      }
      .enter-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .emoji-before-button {
          font-size: 30px;
          margin: 15px;
        }
        &:hover .emoji-before-button {
          animation: move-around-button 0.5s ease-in-out 0s alternate infinite;
        }
      }
    }
    .welcome-right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .superhero-img {
        opacity: 0;
        animation: superhero-fly 1s ease-out 0.5s forwards;
      }
    }
  }
  .team {
    .team-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      .team-card {
        align-self: stretch;
        border-radius: 1em;
        padding: 20px;
        margin: 20px;
        min-width: 250px;
        height: 100%;
        line-height: 2em;
        box-shadow: 0px 10px 20px grey;
        text-align: center;
        .team-img {
          max-width: 150px;
          height: auto;
          border-radius: 50%;
        }
      }
    }
  }
}

//Animació del superheroi
@keyframes superhero-fly {
  0% {
    transform: translate(100px, 200px);
  }
  100% {
    opacity: 1;
  }
}

// animació de la mà
@keyframes move-around-button {
  100% {
    transform: translateX(-20px);
  }
}
