@import '../../design/variables';

.dashboard {
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-image: url('https://i.imgur.com/pq9upOY.png');
  border-top: 1px solid $green;

  .columns-container {
    position: absolute;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
}