.dashboard {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  .columns-container {
    position: absolute;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
}