@import "../../design/variables";

.dashboard-column {
  position: relative;
  
  .test-space {
    height: 20vh;
    
  }
  
  .columns-styling {
    overflow: scroll;
    height: 105vh;
    min-width: 100px;
    position: relative;
    margin-top: 20vh;
  }

  .droppable-space{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}